apiVersion: apps/v1
kind: Deployment
metadata:
  name: understand-passkey
  labels:
    app: understand-passkey
spec:
  replicas: 1
  selector:
    matchLabels:
      app: understand-passkey
  template:
    metadata:
      labels:
        app: understand-passkey
    spec:
      containers:
        - name: understand-passkey
          image: ghcr.io/qjoly/understand-passkey:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: PORT
              value: "8080"
            - name: RP_ID
              value: "understand-passkeys-with.a-cup-of.coffee"
            - name: RP_ORIGIN
              value: "https://understand-passkeys-with.a-cup-of.coffee"
          resources:
            requests:
              cpu: 50m
              memory: 32Mi
            limits:
              cpu: 200m
              memory: 128Mi
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 15
